name: deploy

on:
  tags:
    - '*'

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
      - name: linux conda build and upload
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda install -n base -c conda-forge conda-build setuptools_scm anaconda-client -y
          conda config --set anaconda_upload yes
          xvfb-run conda build -c conda-forge --user ilastik-forge conda-recipe
