name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          miniforge-variant: Mambaforge
          use-mamba: true
      - name: black check
        shell: bash -l {0}
        run: |
          conda install -n base -c conda-forge black -y
          black .