name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-w-ilastik-env:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          # for codecov
          fetch-depth: 5
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ilastik-env
          auto-activate-base: false
          auto-update-conda: true
          environment-file: .github/workflows/etc/ilastik-env.yaml
          miniforge-variant: Mambaforge
          use-mamba: true
      - name: linux test
        if: matrix.os == 'ubuntu-latest'
        shell: bash -l {0}
        run: |
          pip install -e .
          xvfb-run --server-args="-screen 0 1024x768x24" pytest --cov-report=xml --cov=volumina
      - name: osx test
        if: matrix.os == 'macos-10.15'
        shell: bash -l {0}
        run: |
          pip install -e .
          pytest
      - name: windows test
        if: matrix.os == 'windows-latest'
        shell: cmd /C CALL {0}
        # auto activation of env does not seem to work on win
        run: |
          pip install -e . & pytest
      - uses: codecov/codecov-action@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          files: ./coverage.xml,
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

  test-w-conda-recipe:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python_version: ["3.7", "3.8", "3.9"]
        exclude:
          - os: macos-latest
            python_version: "3.7"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ""
          auto-activate-base: true
          auto-update-conda: true
          miniforge-variant: Mambaforge
          use-mamba: true
      - name: install build deps
        run: mamba install -n base -c conda-forge boa setuptools_scm -y
      - name: linux conda build test
        if: matrix.os == 'ubuntu-latest'
        shell: bash -l {0}
        run: xvfb-run --server-args="-screen 0 1024x768x24" conda mambabuild --python=${{ matrix.python_version }} -c conda-forge conda-recipe
      - name: osx test
        if: startsWith(matrix.os, 'macos')
        shell: bash -l {0}
        run: conda mambabuild -c conda-forge --python=${{ matrix.python_version }} conda-recipe
      - name: windows conda-build
        if: matrix.os == 'windows-latest'
        shell: cmd /C CALL {0}
        run: conda mambabuild -c conda-forge --python=${{ matrix.python_version }} conda-recipe
